{% load static %}
<html>
	<head>
		<link rel = "stylesheet" type = "text/css" href ="{% static 'Server/style.css' %}" />
	</head>
	<body>
		<h1>You are at : {{ "/"|add:current_path }}</h1>
		<form action="/" method="post">
			{% csrf_token %}
			{% for item, type in list.items %}
				{% if type == "dir" %}
					<input  class="dir" type="submit" value="{{ item }}" name="{{ current_path|add:item }}">
				{% else %}
					<input  class="file" type="submit" value="{{ item }}" name="{{ current_path|add:item }}">
				{% endif %}
			{% endfor %}
		</form>
	</body>
</html>
