{% load static %}
<html>
<head>
<script src="{% static "share/js/jquery.js" %}" ></script>
<script src="{% static "share/js/main.js" %}" ></script>
<link rel = "stylesheet" type = "text/css" href = "/static/share/css/main.css">
</head>
<body>
	{% csrf_token %}
	<form method="post" action="{% url "upload" %}" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="myfile">
    <input type="hidden" name='address' value='{{current_path}}'>
    <button type="submit">Upload</button>
  </form>
	<div id="list">
		<form method="POST" action="{% url "search" %}">
			{% csrf_token %}
<input type="text" name="query">
<input type="hidden" name='address' value={{ current_path }}>

<button class="search_button" type="submit">Upload text</button>
</form>
		<div id="back">
			<button class="back_button" id="back_button" value="{{ current_path }}">Back</button>
		</div>
		<ul>
			{% for item,type in list.items %}
			{% if type == 'dir' %}
			<li>
				<button class="dir" value="{{ item }}">{{ item }}</button>
				<button class="download" value="{{ item }}">Download</button>
			</li>
			{% else %}
			<li>
				<button class="file" value="{{ item }}">{{ item }}</button>
				<button class="download" value="{{ item }}">Download</button>
			</li>
			{% endif %}
			{% endfor %}
		</ul>
	</div>
</body>
</html>