
<!-- serve static files -->
{% load static %}
<!DOCTYPE HTML>
<html>

<head>

    <title> Wirespace </title>
    <link rel="stylesheet" type="text/css" href="{% static 'share/css/w3.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'share/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'share/css/custom.css' %}">
</head>

<body class="w3-light-gray HelFont">
	
	<div id="body">
	</div>
	<div id="menu">
	</div>
	{% csrf_token %}
	<div id="form" style="display: none;">
		<form id="downloadform" action="download/" method="POST">
			
			{% csrf_token %}
			<input type="submit" value="submit">
		</form>
		<form id="openform" action="open/" method="POST" target="_blank">
			<input type="text" name="target" id="otargetlink">
			{% csrf_token %}
			<input type="submit" value="submit">
		</form>
	</div>
    <script src = "{% static 'share/index.js' %}">
	</script>
</body>
</html>
