
.dir {
	max-width:10em;
	margin: 0.5em; 
	padding: 0.5em;
	overflow: hidden;
	background: rgba(255,255,100);
}

.file {
	max-width:10em;
	margin: 0.5em; 
	padding: 0.5em;
	overflow: hidden;
	background: rgba(255,100,0);
}
