{% load static %}
<html>
<head>
<script src="{% static "share/js/jquery.js" %}" ></script>
<script src="{% static "share/js/main.js" %}" ></script>
<link rel = "stylesheet" type = "text/css" href = "/static/share/css/main.css">
</head>
<body>
	{% csrf_token %}
	<div id="list">
		<div id="back">
			<button class="back_button" id="back_button" value="{{ current_path }}">Back</button>
		</div>
		<ul>
			{% for item,type in list.items %}
			{% if type == 'dir' %}
			<li>
				<button class="dir" value="{{ item }}">{{ item }}</button>
				<button class="download" value="{{ item }}">Download</button>
			</li>
			{% else %}
			<li>
				<button class="file" value="{{ item }}">{{ item }}</button>
				<button class="download" value="{{ item }}">Download</button>
			</li>
			{% endif %}
			{% endfor %}
		</ul>
	</div>
</body>
</html>
